<div class="leftContentBox">

   <h5 class="widgetheading" id="todHdr">Cloudify 2.3</h2>
   <div class="clear"></div>
   <div id="sidebar" class="list-group docMenu"> 
			
		<!--<h5 class="widgetheading">Getting Started</h5>-->
		 <a href="#Getting_Started" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Getting Started</a>
		<div id="Getting_Started" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/qsg/guide/2.3/qsg/quick_start_guide_helloworld.html">Quick Start Guide</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/qsg/guide/2.3/qsg/quick_start_guide.html">Deploy a Simple App Locally</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/qsg/guide/2.3/qsg/quick_start_guide_ec2.html">Deploy a Multi-Tier App on EC2</a>							   
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Product Overview</h5>-->
		 <a href="#Product_Overview" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Product Overview</a>
		<div id="Product_Overview" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/overview/guide/2.3/overview/cloudify_intro.html">Cloudify - A Quick Introduction</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Release Notes</h5>-->
		 <a href="#Release_Notes" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Release Notes</a>
		<div id="Release_Notes" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/release_notes/guide/2.3/release_notes/release_notes.html">Release Notes - Cloudify 2.3.1.1</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Installation & Setup</h5>-->
		 <a href="#Installation_&_Setup" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Installation & Setup</a>
		<div id="Installation_&_Setup" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/setup/guide/2.3/setup/cloudify_prerequisites.html">Cloudify Shell Prerequisites</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/setup/guide/2.3/setup/installing_the_cloudify_client.html">Installing the Cloudify Shell</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/setup/guide/2.3/setup/installation_and_setup.html">Cloudify Installation and Setup</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/setup/guide/2.3/setup/configuring_security.html">Configuring Security</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/setup/guide/2.3/setup/post_installation_configuration.html">Post-Installation Configuration</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/setup/guide/2.3/setup/configuring_azure.html">Configuring Azure</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/setup/guide/2.3/setup/configuring_ec2.html">Configuring EC2</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/setup/guide/2.3/setup/configuring_openstack.html">Configuring OpenStack Cloud</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/setup/guide/2.3/setup/configuring_hp.html">Configuring HP Cloud</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/setup/guide/2.3/setup/configuring_rsopenstack.html">Configuring RackSpace</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/setup/guide/2.3/setup/configuring_byon.html">Configuring a Traditional Data Center [BYON]</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/setup/guide/2.3/setup/recipes_tab.html">Recipes Tab</a>							   
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Bootstrapping</h5>-->
		 <a href="#Bootstrapping" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Bootstrapping</a>
		<div id="Bootstrapping" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/bootstrapping/guide/2.3/bootstrapping/bootstrapping_process.html">The Bootstrapping Process</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/bootstrapping/guide/2.3/bootstrapping/bootstrapping_localcloud.html">Bootstrapping a Local Cloud</a>							   
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/bootstrapping/guide/2.3/bootstrapping/bootstrapping_cloud.html">Bootstrapping Any Cloud</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/bootstrapping/guide/2.3/bootstrapping/bootstrapping_validations.html">Bootstrapping Validations</a>							   
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Developing Recipes</h5>-->
		 <a href="#Developing_Recipes" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Developing Recipes</a>
		<div id="Developing_Recipes" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/recipes_overview.html">Anatomy of a Recipe</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/application_recipe.html">The Application Recipe</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/service_recipe.html">Service Recipes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/lifecycle_events.html">Lifecycle Events</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/recipe_parameters.html">Recipe Parameterization</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/extending_recipes.html">Extending Service Recipes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/the_service_context_api.html">The Service Context API</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/attributes_api.html">The Attributes API</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/custom_commands.html">Custom Commands</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/plugins.html">Probes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/configuring_ui_section.html">Configuring the Web Management Console</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/sla_requirements.html">SLA Requirements</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/storage.html">Storage</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/how_storage_works.html">How the Storage API Works</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/debugger.html">The Recipe Debugger</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/developing/guide/2.3/developing/scaling_rules.html">Scaling Rules</a>							   
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Common Patterns</h5>-->
		 <a href="#Common_Patterns" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Common Patterns</a>
		<div id="Common_Patterns" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/common_patterns/guide/2.3/common_patterns/file_examples.html">File management and manipulations in Groovy And in Cloudify</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Deploying Services & Applications</h5>-->
		 <a href="#Deploying_Services_&_Applications" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Deploying Services & Applications</a>
		<div id="Deploying_Services_&_Applications" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/deploying/guide/2.3/deploying/deploying_srvs.html">Deploying Services</a>							   
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/deploying/guide/2.3/deploying/deploying_apps.html">Deploying Applications</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Monitoring Your Applications</h5>-->
		 <a href="#Monitoring_Your_Applications" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Monitoring Your Applications</a>
		<div id="Monitoring_Your_Applications" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/monitoring/guide/2.3/monitoring/the_web_management_console.html">Monitoring using the Web Management Console</a>							   
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/monitoring/guide/2.3/monitoring/monitoring_app_post_deploy.html">Monitoring using the Cloudify Shell</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Developing Cloud Drivers</h5>-->
		 <a href="#Developing_Cloud_Drivers" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Developing Cloud Drivers</a>
		<div id="Developing_Cloud_Drivers" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/clouddrivers/guide/2.3/clouddrivers/cloud_driver.html">The Cloud Driver</a>							   
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/clouddrivers/guide/2.3/clouddrivers/developing_custom_clouddriver.html">Developing Custom Cloud Drivers</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/clouddrivers/guide/2.3/clouddrivers/tutorial_maven.html">Tutorial - Developing a custom cloud driver using Maven</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Plugins and Probes</h5>-->
		 <a href="#Plugins_and_Probes" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Plugins and Probes</a>
		<div id="Plugins_and_Probes" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/plugins_and_probes/guide/2.3/plugins_and_probes/probes.html">Using Probes For Monitoring</a>							   
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/plugins_and_probes/guide/2.3/plugins_and_probes/develop_your_plugin.html">Develop a Custom Monitoring Plugin</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Integration</h5>-->
		 <a href="#Integration" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Integration</a>
		<div id="Integration" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/integrations/guide/2.3/integrations/chef_documentation.html">Chef Integration Documentation</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/integrations/guide/2.3/integrations/cloudify_chef_lifecycle_event_handlers.html">Cloudify-Chef Lifecycle Event Handlers</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/integrations/guide/2.3/integrations/chef_tutorial.html">Cloudify Tutorial</a>							   
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/integrations/guide/2.3/integrations/puppet_documentation.html">Puppet Integration Documentation</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">REST API</h5>-->
		 <a href="#REST_API" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>REST API</a>
		<div id="REST_API" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/rest_api/guide/2.3/rest_api/rest_api_attributes.html">Cloudify Attributes Over REST</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Reference</h5>-->
		 <a href="#Reference" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Reference</a>
		<div id="Reference" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/recipe/guide/2.3/recipe/app_recipe_ref.html">Application Descriptor Reference</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/recipe/guide/2.3/recipe/service_recipe_ref.html">Service Descriptor Reference</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/recipe/guide/2.3/recipe/command_line_reference.html">Command Line Reference</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/recipe/guide/2.3/recipe/cloud_driver_config_ref.html">Cloud Driver Configuration Reference</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
				  <a   class="list-group-item" href="/guide/2.3/api">Cloudify API Reference</a></li>				 
				  <a   class="list-group-item" href="/guide/2.3/restapi/restdoclet.html">Rest API Reference</a>			 
             			  
		</div>
       		
		<!--<h5 class="widgetheading">Contributing</h5>-->
		 <a href="#Contributing" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Contributing</a>
		<div id="Contributing" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/contribute/guide/2.3/contribute/how_to.html">Contributing to the Cloudify Open Source Project</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">FAQ</h5>-->
		 <a href="#FAQ" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>FAQ</a>
		<div id="FAQ" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.3/faq/guide/2.3/faq/faq.html">Frequently Asked Questions</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
</div>
</div>


