<div class="leftContentBox">

   <h5 class="widgetheading" id="todHdr">Cloudify 2.2</h2>
   <div class="clear"></div>
   <div id="sidebar" class="list-group docMenu"> 
			
		<!--<h5 class="widgetheading">Getting Started</h5>-->
		 <a href="#Getting Started" class="list-group-item"  data-parent="#sidebar">Getting Started</a>
		<div id="Getting Started" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/qsg/guide/2.2/qsg/quick_start_guide_helloworld.html"><i class="icon-caret-right"></i>Quick Start Guide</a>							   
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/qsg/guide/2.2/qsg/quick_start_guide.html"><i class="icon-caret-right"></i>Deploy a Simple App Locally</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/qsg/guide/2.2/qsg/quick_start_guide_ec2.html"><i class="icon-caret-right"></i>Deploy a Multi-Tier App on EC2</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Product Overview</h5>-->
		 <a href="#Product Overview" class="list-group-item"  data-parent="#sidebar">Product Overview</a>
		<div id="Product Overview" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/overview/guide/2.2/overview/cloudify_intro.html"><i class="icon-caret-right"></i>Cloudify - A Quick Introduction</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Release Notes</h5>-->
		 <a href="#Release Notes" class="list-group-item"  data-parent="#sidebar">Release Notes</a>
		<div id="Release Notes" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/release_notes/guide/2.2/release_notes/release_notes.html"><i class="icon-caret-right"></i>Release Notes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Installation & Setup</h5>-->
		 <a href="#Installation & Setup" class="list-group-item"  data-parent="#sidebar">Installation & Setup</a>
		<div id="Installation & Setup" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/setup/guide/2.2/setup/cloudify_prerequisites.html"><i class="icon-caret-right"></i>Cloudify Shell Prerequisites</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/setup/guide/2.2/setup/installing_the_cloudify_client.html"><i class="icon-caret-right"></i>Installing the Cloudify Shell</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/setup/guide/2.2/setup/post_installation_configuration.html"><i class="icon-caret-right"></i>Post-Installation Configuration</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/setup/guide/2.2/setup/configuring_azure.html"><i class="icon-caret-right"></i>Configuring Azure</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/setup/guide/2.2/setup/configuring_ec2.html"><i class="icon-caret-right"></i>Configuring EC2</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/setup/guide/2.2/setup/configuring_openstack.html"><i class="icon-caret-right"></i>Configuring HP OpenStack Cloud</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/setup/guide/2.2/setup/configuring_rsopenstack.html"><i class="icon-caret-right"></i>Configuring RackSpace</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/setup/guide/2.2/setup/configuring_byon.html"><i class="icon-caret-right"></i>Configuring a Traditional Data Center [BYON]</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Bootstrapping</h5>-->
		 <a href="#Bootstrapping" class="list-group-item"  data-parent="#sidebar">Bootstrapping</a>
		<div id="Bootstrapping" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/bootstrapping/guide/2.2/bootstrapping/bootstrapping_process.html"><i class="icon-caret-right"></i>The Bootstrapping Process</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/bootstrapping/guide/2.2/bootstrapping/bootstrapping_localcloud.html"><i class="icon-caret-right"></i>Bootstrapping a Local Cloud</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/bootstrapping/guide/2.2/bootstrapping/bootstrapping_cloud.html"><i class="icon-caret-right"></i>Bootstrapping Any Cloud</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/bootstrapping/guide/2.2/bootstrapping/bootstrapping_validations.html"><i class="icon-caret-right"></i>Bootstrapping Validations</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Developing Recipes</h5>-->
		 <a href="#Developing Recipes" class="list-group-item"  data-parent="#sidebar">Developing Recipes</a>
		<div id="Developing Recipes" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/developing/guide/2.2/developing/recipes_overview.html"><i class="icon-caret-right"></i>Anatomy of a Recipe</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/developing/guide/2.2/developing/application_recipe.html"><i class="icon-caret-right"></i>The Application Recipe</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/developing/guide/2.2/developing/service_recipe.html"><i class="icon-caret-right"></i>Service Recipes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/developing/guide/2.2/developing/lifecycle_events.html"><i class="icon-caret-right"></i>Lifecycle Events</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/developing/guide/2.2/developing/recipe_parameters.html"><i class="icon-caret-right"></i>Recipe Parameterization</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/developing/guide/2.2/developing/extending_recipes.html"><i class="icon-caret-right"></i>Extending Service Recipes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/developing/guide/2.2/developing/the_service_context_api.html"><i class="icon-caret-right"></i>The Service Context API</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/developing/guide/2.2/developing/attributes_api.html"><i class="icon-caret-right"></i>The Attributes API</a>							   
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/developing/guide/2.2/developing/custom_commands.html"><i class="icon-caret-right"></i>Custom Commands</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/developing/guide/2.2/developing/plugins.html"><i class="icon-caret-right"></i>Probes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/developing/guide/2.2/developing/configuring_ui_section.html"><i class="icon-caret-right"></i>Configuring the Web Management Console</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/developing/guide/2.2/developing/sla_requirements.html"><i class="icon-caret-right"></i>SLA Requirements</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/developing/guide/2.2/developing/scaling_rules.html"><i class="icon-caret-right"></i>Scaling Rules</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Common Patterns</h5>-->
		 <a href="#Common Patterns" class="list-group-item"  data-parent="#sidebar">Common Patterns</a>
		<div id="Common Patterns" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/common_patterns/guide/2.2/common_patterns/file_examples.html"><i class="icon-caret-right"></i>File management and manipulations in Groovy And in Cloudify</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Deploying Services & Applications</h5>-->
		 <a href="#Deploying Services & Applications" class="list-group-item"  data-parent="#sidebar">Deploying Services & Applications</a>
		<div id="Deploying Services & Applications" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/deploying/guide/2.2/deploying/deploying_srvs.html"><i class="icon-caret-right"></i>Deploying Services</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/deploying/guide/2.2/deploying/deploying_apps.html"><i class="icon-caret-right"></i>Deploying Applications</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Monitoring Your Applications</h5>-->
		 <a href="#Monitoring Your Applications" class="list-group-item"  data-parent="#sidebar">Monitoring Your Applications</a>
		<div id="Monitoring Your Applications" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/monitoring/guide/2.2/monitoring/the_web_management_console.html"><i class="icon-caret-right"></i>Monitoring using the Web Management Console</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/monitoring/guide/2.2/monitoring/monitoring_app_post_deploy.html"><i class="icon-caret-right"></i>Monitoring using the Cloudify Shell</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Developing Cloud Drivers</h5>-->
		 <a href="#Developing Cloud Drivers" class="list-group-item"  data-parent="#sidebar">Developing Cloud Drivers</a>
		<div id="Developing Cloud Drivers" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/clouddrivers/guide/2.2/clouddrivers/cloud_driver.html"><i class="icon-caret-right"></i>The Cloud Driver</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/clouddrivers/guide/2.2/clouddrivers/developing_custom_clouddriver.html"><i class="icon-caret-right"></i>Developing Custom Cloud Drivers</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/clouddrivers/guide/2.2/clouddrivers/tutorial_maven.html"><i class="icon-caret-right"></i>Tutorial - Developing a custom cloud driver using Maven</a>							   
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Plugins and Probes</h5>-->
		 <a href="#Plugins and Probes" class="list-group-item"  data-parent="#sidebar">Plugins and Probes</a>
		<div id="Plugins and Probes" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/plugins_and_probes/guide/2.2/plugins_and_probes/probes.html"><i class="icon-caret-right"></i>Using Probes For Monitoring</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/plugins_and_probes/guide/2.2/plugins_and_probes/develop_your_plugin.html"><i class="icon-caret-right"></i>Develop a Custom Monitoring Plugin</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Integration</h5>-->
		 <a href="#Integration" class="list-group-item"  data-parent="#sidebar">Integration</a>
		<div id="Integration" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/integrations/guide/2.2/integrations/cloudify_chef_lifecycle_event_handlers.html"><i class="icon-caret-right"></i>Cloudify-Chef Lifecycle Event Handlers</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/integrations/guide/2.2/integrations/chef_tutorial.html"><i class="icon-caret-right"></i>Cloudify Tutorial</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">REST API</h5>-->
		 <a href="#REST API" class="list-group-item"  data-parent="#sidebar">REST API</a>
		<div id="REST API" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/rest_api/guide/2.2/rest_api/rest_api_attributes.html"><i class="icon-caret-right"></i>Cloudify Attributes Over REST</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Reference</h5>-->
		 <a href="#Reference" class="list-group-item"  data-parent="#sidebar">Reference</a>
		<div id="Reference" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/recipe/guide/2.2/recipe/app_recipe_ref.html"><i class="icon-caret-right"></i>Application Descriptor Reference</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/recipe/guide/2.2/recipe/service_recipe_ref.html"><i class="icon-caret-right"></i>Service Descriptor Reference</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/recipe/guide/2.2/recipe/cloud_driver_config_ref.html"><i class="icon-caret-right"></i>Cloud Driver Configuration Reference</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/recipe/guide/2.2/recipe/command_line_reference.html"><i class="icon-caret-right"></i>Command Line Reference</a>							   
				  			  
			  
			  			  
				  <a   class="list-group-item" href="/guide/2.2/api">Cloudify API Reference</a></li>				 
				  <a   class="list-group-item" href="/guide/2.2/restapi/restdoclet.html">Rest API Reference</a>			 
             			  
		</div>
       		
		<!--<h5 class="widgetheading">Contributing</h5>-->
		 <a href="#Contributing" class="list-group-item"  data-parent="#sidebar">Contributing</a>
		<div id="Contributing" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/contribute/guide/2.2/contribute/how_to.html"><i class="icon-caret-right"></i>Contributing to the Cloudify Open Source Project</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">FAQ</h5>-->
		 <a href="#FAQ" class="list-group-item"  data-parent="#sidebar">FAQ</a>
		<div id="FAQ" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.2/faq/guide/2.2/faq/faq.html"><i class="icon-caret-right"></i>Frequently Asked Questions</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
</div>
</div>


