<div class="leftContentBox">

   <h5 class="widgetheading" id="todHdr">Cloudify 2.1</h2>
   <div class="clear"></div>
   <div id="sidebar" class="list-group docMenu"> 
			
		<!--<h5 class="widgetheading">Getting Started</h5>-->
		 <a href="#Getting_Started" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Getting Started</a>
		<div id="Getting_Started" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/qsg/guide/2.1/qsg/quick_start_guide.html">Getting Started with Cloudify</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/qsg/guide/2.1/qsg/quick_start_guide_ec2.html">Getting Started with Cloudify on EC2</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Product Overview</h5>-->
		 <a href="#Product_Overview" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Product Overview</a>
		<div id="Product_Overview" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/overview/guide/2.1/overview/cloudify_intro.html">Cloudify - Open PaaS Stack | A Quick Introduction</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Release Notes</h5>-->
		 <a href="#Release_Notes" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Release Notes</a>
		<div id="Release_Notes" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/release_notes/guide/2.1/release_notes/release_notes.html">Release Notes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Installation & Setup</h5>-->
		 <a href="#Installation_&_Setup" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Installation & Setup</a>
		<div id="Installation_&_Setup" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/setup/guide/2.1/setup/cloudify_prerequisites.html">Cloudify Shell Prerequisites</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/setup/guide/2.1/setup/installing_the_cloudify_client.html">Installing the Cloudify Shell</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/setup/guide/2.1/setup/post_installation_configuration.html">Post-Installation Configuration</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/setup/guide/2.1/setup/configuring_azure.html">Configuring Azure</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/setup/guide/2.1/setup/configuring_ec2.html">Configuring EC2</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/setup/guide/2.1/setup/configuring_openstack.html">Configuring HP OpenStack Cloud</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/setup/guide/2.1/setup/configuring_rsopenstack.html">Configuring RackSpace</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/setup/guide/2.1/setup/configuring_byon.html">Configuring a Traditional Data Center [BYON]</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Bootstrapping</h5>-->
		 <a href="#Bootstrapping" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Bootstrapping</a>
		<div id="Bootstrapping" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/bootstrapping/guide/2.1/bootstrapping/bootstrapping_process.html">The Bootstrapping Process</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/bootstrapping/guide/2.1/bootstrapping/bootstrapping_localcloud.html">Bootstrapping a Local Cloud</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/bootstrapping/guide/2.1/bootstrapping/bootstrapping_azure.html">Bootstrapping Azure</a>							   
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/bootstrapping/guide/2.1/bootstrapping/bootstrapping_ec2.html">Bootstrapping EC2</a>							   
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/bootstrapping/guide/2.1/bootstrapping/bootstrapping_hp.html">Bootstrapping HP OpenStack Cloud</a>							   
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/bootstrapping/guide/2.1/bootstrapping/bootstrapping_rsopenstack.html">Bootstrapping RackSpace</a>							   
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/bootstrapping/guide/2.1/bootstrapping/bootstrapping_byon.html">Bootstrapping a Traditional Data Center [BYON]</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Developing Recipes</h5>-->
		 <a href="#Developing_Recipes" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Developing Recipes</a>
		<div id="Developing_Recipes" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/developing/guide/2.1/developing/recipes_overview.html">Anatomy of a Recipe</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/developing/guide/2.1/developing/application_recipe.html">The Application Recipe</a>							   
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/developing/guide/2.1/developing/service_recipe.html">The Service Recipe</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/developing/guide/2.1/developing/lifecycle_events.html">Lifecycle Events</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/developing/guide/2.1/developing/recipe_parameters.html">Recipe Parameterization</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/developing/guide/2.1/developing/extending_recipes.html">Extending Service Recipes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/developing/guide/2.1/developing/the_service_context_api.html">The Service Context API</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/developing/guide/2.1/developing/attributes_api.html">The Attributes API</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/developing/guide/2.1/developing/custom_commands.html">Custom Commands</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/developing/guide/2.1/developing/plugins.html">Probes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/developing/guide/2.1/developing/configuring_ui_section.html">Configuring the Web Management Console</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/developing/guide/2.1/developing/sla_requirements.html">SLA Requirements</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/developing/guide/2.1/developing/scaling_rules.html">Scaling Rules</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Common Patterns</h5>-->
		 <a href="#Common_Patterns" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Common Patterns</a>
		<div id="Common_Patterns" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Deploying Services & Applications</h5>-->
		 <a href="#Deploying_Services_&_Applications" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Deploying Services & Applications</a>
		<div id="Deploying_Services_&_Applications" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/deploying/guide/2.1/deploying/deploying_apps.html">Deploying Applications</a>							   
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/deploying/guide/2.1/deploying/deploying_azure.html">Deploying on Azure</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Monitoring Your Applications</h5>-->
		 <a href="#Monitoring_Your_Applications" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Monitoring Your Applications</a>
		<div id="Monitoring_Your_Applications" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/monitoring/guide/2.1/monitoring/the_web_management_console.html">Monitoring using the Web Management Console</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/monitoring/guide/2.1/monitoring/monitoring_app_post_deploy.html">Monitoring using the Cloudify Shell</a>							   
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Developing Cloud Drivers</h5>-->
		 <a href="#Developing_Cloud_Drivers" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Developing Cloud Drivers</a>
		<div id="Developing_Cloud_Drivers" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/clouddrivers/guide/2.1/clouddrivers/cloud_driver.html">The Cloud Driver</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/clouddrivers/guide/2.1/clouddrivers/developing_custom_clouddriver.html">Developing Custom Cloud Drivers</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/clouddrivers/guide/2.1/clouddrivers/tutorial_maven.html">Tutorial - Developing a custom cloud driver using Maven</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Plugins and Probes</h5>-->
		 <a href="#Plugins_and_Probes" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Plugins and Probes</a>
		<div id="Plugins_and_Probes" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/plugins_and_probes/guide/2.1/plugins_and_probes/probes.html">Using Scripted Probes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/plugins_and_probes/guide/2.1/plugins_and_probes/develop_your_plugin.html">Using Plugin probes</a>							   
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Integration</h5>-->
		 <a href="#Integration" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Integration</a>
		<div id="Integration" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/integrations/guide/2.1/integrations/cloudify_chef_lifecycle_event_handlers.html">Cloudify-Chef Lifecycle Event Handlers</a>							   
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/integrations/guide/2.1/integrations/chef_tutorial.html">Cloudify Tutorial</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">REST API</h5>-->
		 <a href="#REST_API" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>REST API</a>
		<div id="REST_API" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Reference</h5>-->
		 <a href="#Reference" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Reference</a>
		<div id="Reference" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/recipe/guide/2.1/recipe/app_recipe_ref.html">Application Descriptor Reference</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/recipe/guide/2.1/recipe/service_recipe_ref.html">Service Descriptor Reference</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/recipe/guide/2.1/recipe/command_line_reference.html">Command Line Reference</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
				  <a   class="list-group-item" href="/guide/2.1/api">Cloudify API Reference</a></li>				 
				  <a   class="list-group-item" href="/guide/2.1/restapi/restdoclet.html">Rest API Reference</a>			 
             			  
		</div>
       		
		<!--<h5 class="widgetheading">Contributing</h5>-->
		 <a href="#Contributing" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Contributing</a>
		<div id="Contributing" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/contribute/guide/2.1/contribute/how_to.html">Contributing to the Cloudify Open Source Project</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">FAQ</h5>-->
		 <a href="#FAQ" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>FAQ</a>
		<div id="FAQ" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.1/faq/guide/2.1/faq/faq.html">Frequently Asked Questions</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
</div>
</div>


