<div class="leftContentBox">

   <h5 class="widgetheading" id="todHdr">Cloudify 2.7</h2>
   <div class="clear"></div>
   <div id="sidebar" class="list-group docMenu"> 
			
		<!--<h5 class="widgetheading">Getting Started</h5>-->
		 <a href="#Getting_Started" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Getting Started</a>
		<div id="Getting_Started" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/qsg/qsg">Deploy a Simple Application Locally</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/qsg/quick_start_guide_ec2">Deploy a Multi-Tier App on EC2</a>							   
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Product Overview</h5>-->
		 <a href="#Product_Overview" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Product Overview</a>
		<div id="Product_Overview" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/overview/cloudify_intro">Cloudify - A Quick Introduction</a>							   
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Release Notes</h5>-->
		 <a href="#Release_Notes" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Release Notes</a>
		<div id="Release_Notes" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/release_notes/release_notes">Release Notes - Cloudify 2.7</a>							   
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Installation & Setup</h5>-->
		 <a href="#Installation_&_Setup" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Installation & Setup</a>
		<div id="Installation_&_Setup" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/setup/cloudify_prerequisites">Cloudify Shell Prerequisites</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/setup/installing_the_cloudify_client">Installing the Cloudify Shell</a>							   
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/setup/installation_and_setup">Cloudify Installation and Setup</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/setup/configuring_security">Configuring Security</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/setup/post_installation_configuration">Post-Installation Configuration</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/setup/configuring_azure">Configuring Azure</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/setup/configuring_ec2">Configuring EC2</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/setup/configuring_openstack">Configuring OpenStack Cloud</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/setup/configuring_hp">Configuring HP Cloud</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/setup/configuring_rackspace">Configuring RackSpace</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/setup/configuring_byon">Configuring a Traditional Data Center [BYON]</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/setup/recipes_tab">The Recipe Repository</a>							   
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Bootstrapping</h5>-->
		 <a href="#Bootstrapping" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Bootstrapping</a>
		<div id="Bootstrapping" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/bootstrapping/bootstrapping_process">The Bootstrapping Process</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/bootstrapping/bootstrapping_localcloud">Bootstrapping a Local Cloud</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/bootstrapping/bootstrapping_cloud">Bootstrapping Any Cloud</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/bootstrapping/bootstrapping_validations">Bootstrapping Validations</a>							   
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Developing Recipes</h5>-->
		 <a href="#Developing_Recipes" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Developing Recipes</a>
		<div id="Developing_Recipes" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/recipes_overview">Anatomy of a Recipe</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/application_recipe">The Application Recipe</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/service_recipe">Service Recipes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/lifecycle_events">Lifecycle Events</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/recipe_parameters">Recipe Parameterization</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/extending_recipes">Extending Service Recipes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/the_service_context_api">The Service Context API</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/attributes_api">The Attributes API</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/custom_commands">Custom Commands</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/plugins">Probes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/configuring_ui_section">Configuring the Web Management Console</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/sla_requirements">SLA Requirements</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/storage">The Storage API</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/debugger">The Recipe Debugger</a>							   
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/how_storage_works">How the Storage API Works</a>							   
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/best_practices_for_debugging_and_developing_recipes">Best Practices for Developing and Debugging Recipes</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/developing/scaling_rules">Scaling Rules</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Common Patterns</h5>-->
		 <a href="#Common_Patterns" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Common Patterns</a>
		<div id="Common_Patterns" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/common_patterns/file_examples">File management and manipulations in Groovy And in Cloudify</a>							   
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Deploying Services & Applications</h5>-->
		 <a href="#Deploying_Services_&_Applications" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Deploying Services & Applications</a>
		<div id="Deploying_Services_&_Applications" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/deploying/deploying_srvs">Deploying Services</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/deploying/deploying_apps">Deploying Applications</a>							   
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Monitoring Your Applications</h5>-->
		 <a href="#Monitoring_Your_Applications" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Monitoring Your Applications</a>
		<div id="Monitoring_Your_Applications" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/monitoring/the_web_management_console">Monitoring using the Web Management Console</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/monitoring/monitoring_app_post_deploy">Monitoring using the Cloudify Shell</a>							   
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Developing Cloud Drivers</h5>-->
		 <a href="#Developing_Cloud_Drivers" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Developing Cloud Drivers</a>
		<div id="Developing_Cloud_Drivers" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/clouddrivers/cloud_driver">The Cloud Driver</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/clouddrivers/developing_custom_clouddriver">Developing Custom Cloud Drivers</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/clouddrivers/tutorial_maven">Tutorial - Developing a custom cloud driver using Maven</a>							   
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Plugins and Probes</h5>-->
		 <a href="#Plugins_and_Probes" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Plugins and Probes</a>
		<div id="Plugins_and_Probes" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/plugins_and_probes/probes">Using Probes For Monitoring</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/plugins_and_probes/develop_your_plugin">Develop a Custom Monitoring Plugin</a>							   
				  			  
			  				  
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Integration</h5>-->
		 <a href="#Integration" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Integration</a>
		<div id="Integration" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/integrations/chef_documentation">Chef Integration Documentation</a>							   
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/integrations/cloudify_chef_lifecycle_event_handlers">Cloudify-Chef Lifecycle Event Handlers</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/integrations/chef_tutorial">Cloudify Tutorial</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/integrations/puppet_documentation">Puppet Integration Documentation</a>							   
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">REST API</h5>-->
		 <a href="#REST_API" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>REST API</a>
		<div id="REST_API" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/rest_api/rest_api_attributes">Cloudify Attributes Over REST</a>							   
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">Reference</h5>-->
		 <a href="#Reference" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Reference</a>
		<div id="Reference" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/recipe/app_recipe_ref">Application Descriptor Reference</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/recipe/service_recipe_ref">Service Descriptor Reference</a>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/recipe/cloud_driver_config_ref">Cloud Driver Configuration Reference</a>							   
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/recipe/command_line_reference">Command Line Reference</a>							   
				  			  
			  				  
				  			  
			  
			  			  
				  <a   class="list-group-item" href="/guide/2.7/api">Cloudify API Reference</a></li>				 
				  <a   class="list-group-item" href="/guide/2.7/restapi/restdoclet.html">Rest API Reference</a>			 
             			  
		</div>
       		
		<!--<h5 class="widgetheading">Contributing</h5>-->
		 <a href="#Contributing" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>Contributing</a>
		<div id="Contributing" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/contribute/how_to">Contributing to the Cloudify Open Source Project</a>							   
				  			  
			  
			  			  
		</div>
       		
		<!--<h5 class="widgetheading">FAQ</h5>-->
		 <a href="#FAQ" class="list-group-item"  data-parent="#sidebar"><i class="icon-caret-right"></i>FAQ</a>
		<div id="FAQ" class="list-group subitem collapse" class="list-group-item"> 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  		
					<a  class="list-group-item" href="/guide/2.7/faq/faq">Frequently Asked Questions</a>							   
				  			  
			  
			  			  
		</div>
       		
</div>
</div>


