   <h2 id="todHdr">Cloudify 2.6</h2>
	<div id="sidebar" class="list-group"> 
	  <!--menu item-->	
	  <a href="#gettingStarted" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Getting Started
				<span class="badge bg_danger">3</span>
	   </a>
	   <!--menu subitem-->
	   <div id="gettingStarted" class="list-group subitem collapse">	
				 <a  class="list-group-item" href="/guide/2.6/qsg/qsg">
					<i class="icon-caret-right"></i>Deploy a Simple Application Locally
				 </a>	  
				<a class="list-group-item" href="/guide/2.6/qsg/quick_start_guide_ec2">
					<i class="icon-caret-right"></i>Deploy a Multi-Tier App on EC2
				</a>
		</div>
		<!--menu item-->
		<a href="#productOverview" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Product Overview
				<span class="badge bg_danger">1</span>
	   </a>
	   <!--menu subitem-->
		<div id="productOverview" class="list-group subitem collapse">	
				 <a class="list-group-item"  href="/guide/2.6/overview/cloudify_intro"><i class="icon-group"></i>Cloudify - A Quick Introduction</a>  
		</div>
		<!--menu item-->
		<a href="#releaseNotes" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Release Notes
				<span class="badge bg_danger">1</span>
	   </a>
	   <!--menu subitem-->
		<div id="releaseNotes" class="list-group subitem collapse">	
				 <a  class="list-group-item" href="/guide/2.6/release_notes/release_notes">Release Notes - Cloudify 2.6</a>
		</div>
		
		<!--menu item-->
		<a href="#InstallationSetup" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Installation & Setup
				<span class="badge bg_danger">12</span>
	   </a>
	   <!--menu subitem-->
		<div id="InstallationSetup" class="list-group subitem collapse">	
				 <a  class="list-group-item" href="/guide/2.6/setup/cloudify_prerequisites">Cloudify Shell Prerequisites</a>
				 <a  class="list-group-item" href="/guide/2.6/setup/installing_the_cloudify_client">Installing the Cloudify Shell</a>
				 <a  class="list-group-item" href="/guide/2.6/setup/installation_and_setup">Cloudify Installation and Setup</a>
				  <a  class="list-group-item" href="/guide/2.6/setup/configuring_security">Configuring Security</a>
				  <a  class="list-group-item" href="/guide/2.6/setup/post_installation_configuration">Post-Installation Configuration</a>
				  <a  class="list-group-item" href="/guide/2.6/setup/configuring_azure">Configuring Azure</a>
				  <a  class="list-group-item" href="/guide/2.6/setup/configuring_ec2">Configuring EC2</a>
				  <a  class="list-group-item" href="/guide/2.6/setup/configuring_openstack">Configuring OpenStack Cloud</a>
				  <a  class="list-group-item" href="/guide/2.6/setup/configuring_hp">Configuring HP Cloud</a>
				  <a  class="list-group-item" href="/guide/2.6/setup/configuring_rackspace">Configuring RackSpace</a>							   	  
				  <a class="list-group-item" href="/guide/2.6/setup/configuring_byon">Configuring a Traditional Data Center [BYON]</a>  
				  <a class="list-group-item" href="/guide/2.6/setup/recipes_tab">The Recipe Repository</a>	
		</div>
		
		<!--menu item-->
		<a href="#Bootstrapping" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Bootstrapping
				<span class="badge bg_danger">1</span>
	   </a>
		<!--menu subitem-->
		<div id="Bootstrapping" class="list-group subitem collapse">	
		            <a class="list-group-item" href="/guide/2.6/bootstrapping/bootstrapping_process">The Bootstrapping Process</a>
				    <a class="list-group-item" href="/guide/2.6/bootstrapping/bootstrapping_localcloud">Bootstrapping a Local Cloud</a>	  
				    <a class="list-group-item" href="/guide/2.6/bootstrapping/bootstrapping_cloud">Bootstrapping Any Cloud</a>				   	  
				    <a class="list-group-item" href="/guide/2.6/bootstrapping/bootstrapping_validations">Bootstrapping Validations</a>
	   </div>
	   
	   <!--menu item-->
		<a href="#developingRecipes" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Developing Recipes
				<span class="badge bg_danger">17</span>
	   </a>
		<!--menu subitem-->
		<div id="developingRecipes" class="list-group subitem collapse">	
		            <a class="list-group-item" href="/guide/2.6/developing/recipes_overview">Anatomy of a Recipe</a>							   	  
				    <a class="list-group-item" href="/guide/2.6/developing/application_recipe">The Application Recipe</a>						   	  
				    <a class="list-group-item" href="/guide/2.6/developing/service_recipe">Service Recipes</a>						   		  
				    <a class="list-group-item" href="/guide/2.6/developing/lifecycle_events">Lifecycle Events</a>						   		  
				    <a class="list-group-item" href="/guide/2.6/developing/recipe_parameters">Recipe Parameterization</a>						   		  
				    <a class="list-group-item" href="/guide/2.6/developing/extending_recipes">Extending Service Recipes</a>							   
				    <a class="list-group-item" href="/guide/2.6/developing/the_service_context_api">The Service Context API</a>		  
				    <a class="list-group-item" href="/guide/2.6/developing/attributes_api">The Attributes API</a>						     
				    <a class="list-group-item" href="/guide/2.6/developing/custom_commands">Custom Commands</a>						   		  
				    <a class="list-group-item" href="/guide/2.6/developing/plugins">Probes</a>						   
					<a class="list-group-item" href="/guide/2.6/developing/configuring_ui_section">Configuring the Web Management Console</a>  
				    <a class="list-group-item" href="/guide/2.6/developing/storage">The Storage API</a>							   			  
				    <a class="list-group-item" href="/guide/2.6/developing/sla_requirements">SLA Requirements</a>						   		  
				    <a class="list-group-item" href="/guide/2.6/developing/how_storage_works">How the Storage API Work</a>							   			  
				    <a class="list-group-item" href="/guide/2.6/developing/debugger">The Recipe Debugger</a>						   	  
				    <a class="list-group-item" href="/guide/2.6/developing/best_practices_for_debugging_and_developing_recipes">Best Practices for Developing and Debugging Recipes</a>							   		  
				    <a class="list-group-item" href="/guide/2.6/developing/scaling_rules">Scaling Rules</a>	
	   </div>
	   
	   		<!--menu item-->
		<a href="#commonPatterns" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Common Patterns
				<span class="badge bg_danger">1</span>
	   </a>
		<!--menu subitem-->
		<div id="commonPatterns" class="list-group subitem collapse">	
					<a class="list-group-item" href="/guide/2.6/common_patterns/file_examples">File management and manipulations in Groovy And in Cloudify</a>
	   </div>
	   
	   	<!--menu item-->
		<a href="#deployingServices" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Deploying Services & Applications
				<span class="badge bg_danger">1</span>
	   </a>
		<!--menu subitem-->
		<div id="deployingServices" class="list-group subitem collapse">	
					<a class="list-group-item" href="/guide/2.6/deploying/deploying_srvs">Deploying Services</a>						   
				    <a class="list-group-item" href="/guide/2.6/deploying/deploying_apps">Deploying Applications</a>
	    </div>
		
	    <!--menu item-->
		<a href="#monitoringApp" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Monitoring Your Applications
				<span class="badge bg_danger">2</span>
	   </a>
		<!--menu subitem-->
		<div id="monitoringApp" class="list-group subitem collapse">	
					<a class="list-group-item" href="/guide/2.6/monitoring/the_web_management_console">Monitoring using the Web Management Console</a>						   
				    <a class="list-group-item" href="/guide/2.6/monitoring/monitoring_app_post_deploy">Monitoring using the Cloudify Shell</a>
	    </div>
		<!--menu item-->
		<a href="#developingCloudDrivers" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Developing Cloud Drivers
				<span class="badge bg_danger">3</span>
	   </a>
		<!--menu subitem-->
		<div id="developingCloudDrivers" class="list-group subitem collapse">	
					<a class="list-group-item" href="/guide/2.6/clouddrivers/cloud_driver">The Cloud Driver</a>
					<a class="list-group-item" href="/guide/2.6/clouddrivers/developing_custom_clouddriver">Developing Custom Cloud Drivers</a>
					<a class="list-group-item" href="/guide/2.6/clouddrivers/tutorial_maven">Tutorial - Developing a custom cloud driver using Maven</a>
	    </div>
		
		<!--menu item-->
		<a href="#pluginsandProbes" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Plugins and Probes
				<span class="badge bg_danger">2</span>
	   </a>
		<!--menu subitem-->
		<div id="pluginsandProbes" class="list-group subitem collapse">	
					<a  class="list-group-item" href="/guide/2.6/plugins_and_probes/probes">Using Probes For Monitoring</a>
					<a class="list-group-item"  href="/guide/2.6/plugins_and_probes/develop_your_plugin">Develop a Custom Monitoring Plugin</a>
	    </div>
		
		<!--menu item-->
		<a href="#Integration" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Integration
				<span class="badge bg_danger">4</span>
	   </a>
		<!--menu subitem-->
		<div id="Integration" class="list-group subitem collapse">	
			<a class="list-group-item" href="/guide/2.6/integrations/chef_documentation">Chef Integration Documentation</a>
			<a class="list-group-item" href="/guide/2.6/integrations/cloudify_chef_lifecycle_event_handlers">Cloudify-Chef Lifecycle Event Handlers</a>
			<a class="list-group-item" href="/guide/2.6/integrations/chef_tutorial">Chef Tutorial</a>
			<a class="list-group-item" href="/guide/2.6/integrations/puppet_documentation">Puppet Integration Documentation</a>
	    </div>
		
		
		<!--menu item-->
		<a href="#RESTAPI" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> REST API
				<span class="badge bg_danger">2</span>
	   </a>
		<!--menu subitem-->
		<div id="RESTAPI" class="list-group subitem collapse">	
			<a class="list-group-item"  href="/guide/2.6/rest_api/rest_api_attributes">Cloudify Attributes Over REST</a>
	    </div>
		
		<!--menu item-->
		<a href="#Reference" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Reference
				<span class="badge bg_danger">5</span>
	   </a>
		<!--menu subitem-->
		<div id="Reference" class="list-group subitem collapse">	
			<a class="list-group-item" href="/guide/2.6/recipe/app_recipe_ref">Application Descriptor Reference</a>
			<a class="list-group-item" href="/guide/2.6/recipe/cloud_driver_config_ref">Cloud Driver Configuration Reference</a>
			<a class="list-group-item" href="/guide/2.6/recipe/command_line_reference">Command Line Reference</a>
			<a class="list-group-item" href="/guide/2.6/api">Cloudify API Reference</a>
			<a class="list-group-item" href="/guide/2.6/restapi/restdoclet.html">Rest API Reference</a>
			
	    </div>
		
		
	    <!--menu item-->
		<a href="#contributing" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> Contributing
				<span class="badge bg_danger">5</span>
	   </a>
		<!--menu subitem-->
		<div id="contributing" class="list-group subitem collapse">	
				<a class="list-group-item"  href="/guide/2.6/contribute/how_to">Contributing to the Cloudify Open Source Project</a>
			
	    </div>
		
		<!--menu item-->
		<a href="#FAQ" class="list-group-item"  data-parent="#sidebar">
				<i class="icon-group"></i> FAQ
				<span class="badge bg_danger">5</span>
	   </a>
		<!--menu subitem-->
		<div id="FAQ" class="list-group subitem collapse">	
				<a class="list-group-item" href="/guide/2.6/faq/faq">Frequently Asked Questions</a>
			
	    </div>
	   
	   
	   
	   
			 				 			 			  
				   							   		  
	</div><!--end menu wrapper-->	  				  