<div class="leftContentBox">
{% capture currentVersion %}{{ page.url | remove: "/guide/" | split:"/" | first }}{% endcapture %}
   <h2 id="todHdr">Cloudify {{currentVersion}}</h2>
   <div class="clear"></div>
	{% for category in site.categories %}		
		<h5 class="widgetheading">{{ category }}</h5>
		<div class="list-group subitem collapse" class="list-group-item"> 				 			
			  {% for page in site.page_categories[category] %}				  
				  {% if page.url contains currentVersion %}			  
				    <a  class="list-group-item" href="{{page.url}}">{{page.title}}</a>							   
				  {% endif %}			  
			  {% endfor %}
			  {% if category == "Reference" %}			  
				  <a   class="list-group-item" href="/guide/{{currentVersion}}/api">Cloudify API Reference</a></li>				 
				  <a   class="list-group-item" href="/guide/{{currentVersion}}/restapi/restdoclet.html">Rest API Reference</a>			 
             {% endif %}			  
		</div>
       {% endfor %}		
</div>

