<!--Event groups-->

<ul class="watchWrapper"> 
<li class="widget">

<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Cloudify Your App on OpenStack Cloud" href="http://www.youtube.com/embed/MyYQQQhcCZI?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="img/thumbnails/CloudifyOSVidThumbnail-BS.png" alt="Cloudify your most complex apps on OpenStack with one click. Automate and orchestrate your DevOps process with Cloudify's free, open source software platform. Easily setup, deploy, monitor, auto-repair and scale your mission critical applications.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>

<!-- End Item Project -->
</li>

<li class="widget">						
<!-- Fancybox - Gallery Enabled - Title - Full Image -->
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Portfolio name" href="http://www.youtube.com/embed/dD8XbBPb_Vg?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="http://img.youtube.com/vi/dD8XbBPb_Vg/0.jpg" alt="This video shows how easy it is to install an application on the HP cloud and store its data on Amazon S3. Cloudify makes your Cloud life easier.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>
<!-- End Item Project -->
</li>
<li class="widget">

<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Cloudify Your App on OpenStack Cloud" href="http://www.youtube.com/embed/MyYQQQhcCZI?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="img/thumbnails/CloudifyOSVidThumbnail-BS.png" alt="Cloudify your most complex apps on OpenStack with one click. Automate and orchestrate your DevOps process with Cloudify's free, open source software platform. Easily setup, deploy, monitor, auto-repair and scale your mission critical applications.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>

<!-- End Item Project -->
</li>

<li class="widget">						
<!-- Fancybox - Gallery Enabled - Title - Full Image -->
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Portfolio name" href="http://www.youtube.com/embed/dD8XbBPb_Vg?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="http://img.youtube.com/vi/dD8XbBPb_Vg/0.jpg" alt="This video shows how easy it is to install an application on the HP cloud and store its data on Amazon S3. Cloudify makes your Cloud life easier.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>
<!-- End Item Project -->
</li>
</ul>

 <div class="pagination">
	<ul class="pager">
		<li><a class="prev_link" href="javascript:previousLink();">Prev</a></li>
	</ul>
</div>



