<!DOCTYPE html>
<html lang="en">
{% assign needVersions="needVersions" %}
{% assign needExpandBtn="needExpandBtn" %}
{% include head_section.html %}
<body>
<div id="wrapper">
	<!-- start header -->
	{% include header.html %}
	<!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="span8">
				<div class="inner-heading">
					<h2>Docs <strong>{{ page.title }}</strong></h2>
				</div>
			</div>
			<div class="span4">
				<ul class="breadcrumb">
					<li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<li><a href="#">Docs</a><i class="icon-angle-right"></i></li>
					<li><a href="#">2.6</a><i class="icon-angle-right"></i></li>
					<li class="active">{{ page.title }}</li>
				</ul>
			</div>
		</div>
	<div>
	</section>
	<section id="content">
	<div class="container ">
		<div class="row">
			<div class="span3">
				<aside class="left-sidebar">
								{% capture currentVersion %}{{ page.url | remove: "/guide/" | split:"/" | first }}{% endcapture %}
								
								{% if currentVersion contains '2.1' %}
									{% include toc2.1.html %}
								{% else %}
									{% if currentVersion contains '2.2' %}
										{% include toc2.2.html %}
									{% else %}
										{% if currentVersion contains '2.3' %}					
											{% include toc2.3.html %}
										{% else %}
											{% if currentVersion contains '2.5' %}					
												{% include toc2.5.html %}								
											{% else %}	
												{% if currentVersion contains '2.6' %}					
													{% include toc2.6.html %} 
												{% else %}	
													{% if currentVersion contains '2.7' %}					
														{% include toc2.7.html %}								
													{% else %}	
														{% if currentVersion contains '2.8' %}					
															{% include toc2.8.html %}	
														{% else %}	
															{% include toc3.0.html %}																
														{% endif %}						
													{% endif %}						
												{% endif %}						
											{% endif %}														
										{% endif %}						
									{% endif %}
								{% endif %}							
		
				</aside>
			</div>


	<div class="span9">
		{{content}}
		</div>
	</div>
</div>
	</section>
	<!-- start footer-->
	{% include footer.html %}
	<!-- end footer-->

</div>
<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

<!-- javascript footer_scripts-->
{% include footer_scripts.html %}
<script src="/js/cookie.js"></script>
<script type="text/javascript">
$(function() {
$('#sidebar > a').on('click', function (e) {
		e.preventDefault();

		if(!$(this).hasClass("active")){
			var lastActive = $(this).closest("#sidebar").children(".active");
			lastActive.removeClass("active");
			lastActive.next('div').collapse('hide');
			$(this).addClass("active");
			$(this).next('div').collapse('show');

		}

	});
	
	
	
 
  //target the class 'accordion-body' 
  $('a.list-group-item').on('click', function(e){
 
   //save the uncollapsed/shown item ID to your cookie:
   $(e.target).attr('id','highlight');
   $.cookie('cookie_highlight', $(e.target).attr('href'));
  });
  
  $('#sidebar').on('shown', function(e){
 
   //save the uncollapsed/shown item ID to your cookie:
   $.cookie('cookie_collapse', $(e.target).attr('id'));
  });
 
  var lastCollapse = $.cookie('cookie_collapse');
  var highlight = $.cookie('cookie_highlight');
 
    //if the cookie exists:-
    //activate uncollapsed item by adding the class 'in' to the saved ID
     if (lastCollapse) {
      var lastCollapse = '#' + lastCollapse
      $(lastCollapse).addClass('in');
     }
	
	
	if (highlight) {
      $('.in a.list-group-item').removeClass('highlight');
      $('.in a.list-group-item[href$="'+highlight+'"]').addClass('highlight');
     }


	
});
</script>

<!-- javascript footer_scripts-->


</body>
</html>